.container {
  background: whiteSmoke;
  margin: 0 auto;
  width: 500px;
}

.label { font-size: 11px; text-transform: uppercase; }

#information {
  border-top: none;
  border-radius: 0 0 3px 3px;
  padding-top: 230px;
  position: relative;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
}

#cover img {
  position: relative;
  z-index: 1;
}


#name { margin-right: 20px; }

#social {
  margin-top: 10px;
}

#experience {
  margin-top: 30px;
}

#experience h4 {
  margin: 0;
}

#education {
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  margin-top: 30px;
}

#education h4 {
  margin: 0;
}

img.profile {
  background: #FFF;
  border: 1px solid #888;
  box-shadow: 1px 2px 3px #CCC;
  margin: -65px 20px 0;
  padding: 5px;
  position: relative;
  z-index: 2;
}

.well-inverse {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px ;
  box-shadow: 1px 2px 3px #CCC;
  padding: 15px;
}
